@if (content?.segments; as segments) {
<div class="content-renderer">
  @for (seg of segments; track seg.id) {

    @if (seg.type === 'columns') {
    <section [attr.id]="seg.anchorId || null" class="segment-wrapper" [ngClass]="[
      'ds-seg-bg-' + (seg.backgroundColor || 'white'),
      'ds-seg-text-' + (seg.textColor || 'default'),
      'ds-seg-pad-' + (seg.verticalPadding || 'normal'),
      seg.classNames || ''
    ]">
      <div class="ds-layout-grid" [attr.data-layout]="seg.distribution"
        [ngClass]="'ds-seg-width-' + (seg.containerWidth || 'standard')">

        @for (col of seg.columns; track col.id) {
        <div class="ds-layout-cell ds-user-content" [innerHTML]="sanitize(col.contentHtml)">
        </div>
        }

      </div>
    </section>
    }

    @if (seg.type === 'carousel') {
      <app-segment-carousel [segment]="seg"></app-segment-carousel>
    }

  }
</div>
}
